<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/import/alpine.js" defer></script>
    <title>Sign In</title>
</head>

<body class="min-h-sceen dark:bg-slate-900">
    <div class="w-full min-h-screen flex flex-col items-center justify-center">
        <span class="text-2xl text-gray-500 dark:text-gray-100 font-medium mb-10">Sign In</span>
        <div class="w-full max-w-sm ">
            <form class="rounded px-8 pt-6 pb-8 mb-4" method="post">
                <div class="mb-4">
                    <label class="block text-gray-600 dark:text-gray-100 text-sm font-medium mb-2" for="email">
                        Email
                    </label>
                    <input <% if(errors && errors.email) { %>
                    class="input-text input-error"
                    <% } else { %>
                        class="input-text"
                        <% } %>
                        value="<%= !(errors && errors.email) ? formData?.email : '' %>"
                            id="email"
                            type="text"
                            name="email"
                            
                            placeholder="Email"
                            autocomplete="off"
                            />
                            <p class="text-red-500 text-xs italic">
                                <%= errors?.email?.msg %>
                            </p>
                </div>
                <div class="mb-3">
                    <label class="block text-gray-600 dark:text-gray-100 text-sm font-medium mb-2" for="password">
                        Password
                    </label>
                    <input <% if(errors && errors.password) { %>
                    class="input-text input-error"
                    <% } else { %>
                        class="input-text"
                        <% } %>
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Password"
                            autocomplete="current-password"
                            />
                            <p class="text-red-500 text-xs italic">
                                <%= errors?.password?.msg %>
                            </p>
                </div>
                <div class="mb-4 flex items-center justify-between">
                    <div class="flex gap-1">
                        <input class="accent-blue-500" type="checkbox" name="remember-me" id="remember-me">
                        <label for="remember-me" class="text-sm text-gray-500 hover:text-gray-600 dark:text-gray-200 dark:hover:text-gray-300">Remember Me</label>
                    </div>
                    <a href="/register" class="text-blue-400 hover:underline text-sm">
                        Forgot Password?
                    </a>
                </div>
                <div class="flex flex-col items-baseline justify-between">
                    <button
                        class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-blue-500 px-3 py-2.5 text-sm font-semibold text-white shadow-lg shadow-blue-500/50 hover:shadow-blue-600/50 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-300 transition-colors duration-150"
                        type="submit">
                        Sign In
                    </button>
                    <p class="text-sm text-gray-500 dark:text-gray-300 flex gap-1 mt-4">
                        Not registered yet?
                        <a class="text-blue-400 hover:underline" href="/register">Create Account</a>
                    </p>
                </div>
                <div class="w-full relative mt-8 mb-8 border border-gray-600 border-b-[1px]">
                    <p class="text-sm text-gray-400 absolute left-[50%] translate-x-[-50%] translate-y-[-53%] p-3 bg-slate-900">or</p>
                </div>
                <a href="#" class="w-full inline-flex justify-center items-center px-3 py-2.5 rounded-lg bg-transaparent hover:bg-slate-800 text-gray-100 border border-slate-600 gap-3 transition duration-100">
                    <img src="/images/icons/google.svg" alt="Google" class="w-5 h-5">
                    <span class="text-sm font-semibold">Sign In with Google</span>
                </a>
            </form>
            
            <%- include("../components/copyright-form-text.ejs") %>
        </div>
    </div>
</body>

</html>